body {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
}

.game-container {
 text-align: center;
}

h1 {
 font-size: 24px;
}

p {
 margin-bottom: 10px;
}

#guess {
 padding: 5px;
 width: 50px;
}

button {
 padding: 5px 10px;
 margin-left: 10px;
}

#hint {
 font-weight: bold;
 margin-top: 20px;
}
